.banner {
  position: relative;
  width: 100%;
  height: 100vh; /* altura del banner */
  overflow: hidden;
 
  margin-bottom: -10%;
}

.banner-img {
  width: 100%;
  height: 70%;
  display: block; 
}
